/* Основной стиль как для всей страницы, так и для отдельных крупных элементов */
* {
	margin: 0;
	padding: 0;
}

header {
    background-color: #5CDB95;
    height: 65px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #05386B;
}

body, html {
    height: 100%;
    background-color: #EDF5E1;
}

footer {
    background-color: #5CDB95;  
    bottom: 100%;
    width: 100%;

    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}

/*Стили для всех тегов <a>*/
a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Стили только для тегов класса Button*/
.Button{
    background-color: #209b72f6;
    color: #EDF5E1;
    font-weight: 500;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;
    text-decoration: none;
    width: 235px;
}
.Button:hover{
    color: #e8fccb;
}
.Button:active{
    color: #ffffff;
}

/*Стили для простых ссылок*/
.link{
    color: #05386B;
}
.link:hover{
    color: #0e5caa;
}
.link:active{
    color: #379683;
}

/* Стили для тегов с описанием версий */
.VersionDescription{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18.5px;
    color: #0e5caa;
}

/* Стили для кнопок , расположенных в header'е */
#SiteName{
    position: absolute;
    top: 0.5%;
    left: 50%;
    text-decoration: none;
}
#Main{
    font-size: 28px;
    position: absolute;
    top: 1.5%;
    left: 35%;
    text-decoration: underline;
}
#Downloads{
    font-size: 28px;
    position: absolute;
    top: 1.5%;
    left: 65%;
    text-decoration: none;
}

/* Стили основной страницы */
#ProgramLogo{
    position: absolute;
    top: 10%;
    left: 1%;
}
#Description{
    position: absolute;
    top: 9%;
    left: 5%;
    color: #05386B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
}
#GitHubSource{
    position: absolute;
    top: 15%;
    left: 75.4%;
    font-size: 21px;
}

/* Кнопки */
#tp01{
    position: absolute;
    top: 20%;
    left: 14px;
}
#tp01about{
    position: absolute;
    top: 21%; 
    left: 15%;
}

#tp03{ 
    position: absolute;
    top: 25%;
    left: 14px;
}
#tp03about{
    position: absolute;
    top: 26%;  
    left: 15%;
}

#tp04{   
    position: absolute;
    top: 30%;
    left: 14px;
}
#tp04about{
    position: absolute;
    top: 31%;
    left: 15%;
}

#tp05{  
    position: absolute;
    top: 35%;
    left: 14px;
}
#tp05about{
    position: absolute;
    top: 36%;
    left: 15%;
}

#tp06{
    position: absolute;
    top: 40%;
    left: 14px;
}
#tp06about{ 
    position: absolute;
    top: 41%;   
    left: 15%;
}

#tp07{
    position: absolute;
    top: 45%;
    left: 14px;
}
#tp07about{  
    position: absolute;
    top: 46%; 
    left: 15%;
}

#tp08{
    position: absolute;
    top: 50%;
    left: 14px;
    text-decoration: none;
}
#tp08about{
    position: absolute;
    top: 51%;
    left: 15%;
}

#tp09{
    position: absolute;
    top: 55%;
    left: 14px;
}
#tp09about{  
    position: absolute;
    top: 56%;
    left: 15%;
}

#tp10{
    position: absolute;
    top: 60%;
    left: 14px;
}
#tp10about{    
    position: absolute;
    top: 61%;
    left: 15%;
}

#tp11{
    position: absolute;
    top: 65%;
    left: 14px;
}
#tp11about{  
    position: absolute;
    top: 65%;
    left: 15%;
}

#tp12{
    position: absolute;
    top: 70%;
    left: 14px;
}
#tp12about{
    position: absolute;
    top: 71%;
    left: 15%;
}

#tp13{
    position: absolute;
    top: 75%;
    left: 14px;
}
#tp13about{ 
    position: absolute;
    top: 76%;
    left: 15%;
}

#tp14{
    position: absolute;
    top: 80%;
    left: 14px;
}
#tp14about{ 
    position: absolute;
    top: 81%;
    left: 15%;
}

#tp15{
    position: absolute;
    top: 85%;
    left: 14px;
}
#tp15about{  
    position: absolute;
    top: 86%;
    left: 15%;
}

#tp16{
    position: absolute;
    top: 90%;
    left: 14px;
}
#tp16about{
    position: absolute;
    top: 91%;
    left: 15%;
}

#tp17{
    position: absolute;
    top: 95%;
    left: 14px;
}
#tp17about{
    position: absolute;
    top: 96%;
    left: 15%;
}

#tp18{
    
    position: absolute;
    top: 100%;
    left: 14px;
}
#tp18about{  
    position: absolute;
    top: 101%;
    left: 15%;
}

#tp19{
    
    position: absolute;
    top: 105%;
    left: 14px;
}
#tp19about{   
    position: absolute;
    top: 106%;
    left: 15%;
}

#tp20{   
    position: absolute;
    top: 110%;
    left: 14px;
}
#tp20about{
    position: absolute;
    top: 111%;
    left: 15%;
}

#tp21{
    position: absolute;
    top: 115%;
    left: 14px;
}
#tp21about{
    position: absolute;
    top: 116%;
    left: 15%;
}

#tp22{
    position: absolute;
    top: 120%;
    left: 14px;
}
#tp22about{
    position: absolute;
    top: 119.6%;
    left: 15%;
}

#tp221{
    position: absolute;
    top: 125%;
    left: 14px;
}
#tp221about{
    position: absolute;
    top: 125.3%;
    left: 15%;
}

#tp230{
    position: absolute;
    top: 130%;
    left: 14px;
}
#tp230about{
    position: absolute;
    top: 131.4%;
    left: 15%;
}

#tp231{
    position: absolute;
    top: 135%;
    left: 14px;
}
#tp231about{
    position: absolute;
    top: 136.4%;
    left: 15%;
}