/* Основной стиль как для всей страницы, так и для отдельных крупных элементов */

*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    position: relative;
    background-color: #5CDB95;
    color: #05386B;
    height: 65px;
    width: 100%;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #05386B;
}

body{
    background-color: #EDF5E1;
}

/*Стили класса Button*/
.Button{
    background-color: #209b72f6;
    color: #EDF5E1;
    font-weight: 500;
    padding: 11px;
    opacity: 0.95;
    text-decoration: none;
    outline-style: solid;
    outline-width: 0.5px;
    transition: 0.3s;
    outline-color: #05386B;
    box-shadow: 2px 2px 5px #888;
    width: 235px;
}
.Button:hover{
    color: #e8fccb;
    outline-color: #5CDB95;
    transition: 0.3s;
}
.Button:active{
    color: #ffffff;
}

/*Стили для класса ссылки*/
.link{
    transition: 0.3s;
    color: #05386B;
}
.link:hover{
    transition: 0.3s;
    color: #0e5caa;
}
.link:active{
    color: #379683;
}

/* Стили для тегов с описанием версий */
.VersionDescription{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18.5px;
    color: #0e5caa;
    margin-left: 300px;
}

/* Стили для кнопок , расположенных в header'е */
#SiteName{
    text-decoration: none;
    position: absolute;
    font-size: 40px;
    left: 50%;
    top: 18%;
}
#MainPage{
    font-size: 28px;
    position: absolute;
    left: 25%;
    top: 20%;
}
#DownloadsPage{
    font-size: 28px;
    position: absolute;
    left: 75%;
    top: 20%;
}

/* Стили основной страницы */

/*Стили для описания и логотипа*/
#ProgramLogo{
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 2px 2px 5px #888;
    transition: 0.4s;
}
#ProgramLogo:hover{
    transform: scale(1.07);
}
#Description{
    position: absolute;
    color: #05386B;
    font-size: 21px;
    margin-left: 120px;
    margin-top: 30px;
}

/* Кнопки */
#tp01{
    position: absolute;
    top: 190px;
    margin-left: 30px;
}
#tp01about{
    position: absolute;
    top: 200px;
}

#tp03{ 
    position: absolute;
    top: 240px;
    margin-left: 30px;
}
#tp03about{
    position: absolute;
    top: 250px;  
}

#tp04{   
    position: absolute;
    top: 290px;
    margin-left: 30px;
}
#tp04about{
    position: absolute;
    top: 300px;
}

#tp05{  
    position: absolute;
    top: 340px;
    margin-left: 30px;
}
#tp05about{
    position: absolute;
    top: 350px;
}

#tp06{
    position: absolute;
    top: 390px;
    margin-left: 30px;
}
#tp06about{ 
    position: absolute;
    top: 390px;   
}

#tp07{
    position: absolute;
    top: 440px;
    margin-left: 30px;
}
#tp07about{  
    position: absolute;
    top: 450px; 
}

#tp08{
    position: absolute;
    top: 490px;
    margin-left: 30px;
    text-decoration: none;
}
#tp08about{
    position: absolute;
    top: 500px;
}

#tp09{
    position: absolute;
    top: 540px;
    margin-left: 30px;
}
#tp09about{  
    position: absolute;
    top: 550px;
}

#tp10{
    position: absolute;
    top: 590px;
    margin-left: 30px;
}
#tp10about{    
    position: absolute;
    top: 600px;
}

#tp11{
    position: absolute;
    top: 640px;
    margin-left: 30px;
}
#tp11about{  
    position: absolute;
    top: 640px;
}

#tp12{
    position: absolute;
    top: 690px;
    margin-left: 30px;
}
#tp12about{
    position: absolute;
    top: 700px;
}

#tp13{
    position: absolute;
    top: 740px;
    margin-left: 30px;
}
#tp13about{ 
    position: absolute;
    top: 750px;
}

#tp14{
    position: absolute;
    top: 790px;
    margin-left: 30px;
}
#tp14about{ 
    position: absolute;
    top: 800px;
}

#tp15{
    position: absolute;
    top: 840px;
    margin-left: 30px;
}
#tp15about{  
    position: absolute;
    top: 850px;
}

#tp16{
    position: absolute;
    top: 890px;
    margin-left: 30px;
}
#tp16about{
    position: absolute;
    top: 900px;
}

#tp17{
    position: absolute;
    top: 940px;
    margin-left: 30px;
}
#tp17about{
    position: absolute;
    top: 950px;
}

#tp18{
    position: absolute;
    top: 990px;
    margin-left: 30px;
}
#tp18about{  
    position: absolute;
    top: 1000px;
}

#tp19{
    position: absolute;
    top: 1040px;
    margin-left: 30px;
}
#tp19about{   
    position: absolute;
    top: 1050px;
}

#tp20{   
    position: absolute;
    top: 1090px;
    margin-left: 30px;
}
#tp20about{
    position: absolute;
    top: 1100px;
}

#tp21{
    position: absolute;
    top: 1140px;
    margin-left: 30px;
}
#tp21about{
    position: absolute;
    top: 1150px;
}

#tp22{
    position: absolute;
    top: 1190px;
    margin-left: 30px;
}
#tp22about{
    position: absolute;
    top: 1190px;
}

#tp221{
    position: absolute;
    top: 1240px;
    margin-left: 30px;
}
#tp221about{
    position: absolute;
    top: 1240px;
}

#tp230{
    position: absolute;
    top: 1290px;
    margin-left: 30px;
}
#tp230about{
    position: absolute;
    top: 1300px;
}

#tp231{
    position: absolute;
    top: 1340px;
    margin-left: 30px;
}
#tp231about{
    position: absolute;
    top: 1350px;
}

#tp240{
    position: absolute;
    top: 1390px;
    margin-left: 30px;
}
#tp240about{
    position: absolute;
    top: 1400px;
}

#tp250{
    position: absolute;
    top: 1440px;
    margin-left: 30px;
}
#tp250about{
    position: absolute;
    top: 1450px;
}

#tp260{
    position: absolute;
    top: 1490px;
    margin-left: 30px;
}
#tp260about{
    position: absolute;
    top: 1500px;
}

#tp261{
    position: absolute;
    top: 1540px;
    margin-left: 30px;
}
#tp261about{
    position: absolute;
    top: 1550px;
}