
* {
	margin: 0;
	padding: 0;
}

header {
    background-color: #5CDB95;
    height: 65px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #05386B;
}

body, html {
    height: 100%;
    background-color: #EDF5E1;
}

footer {
    background-color: #5CDB95;  
    bottom: 100%;
    width: 100%;

    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}
#siteName{
    position: absolute;
    top: 1%;
    left: 50%;
    text-decoration: none;
}
#Main{
    font-size: 28px;
    position: absolute;
    top: 1%;
    left: 35%;
    text-decoration: none;
}
#Downloads{
    font-size: 28px;
    position: absolute;
    top: 1%;
    left: 65%;
    text-decoration: underline;
}

#Description{
    position: absolute;
    top: 115px;
    left: 100px;
    font-size: 22px;
    color: #05386B;;
}
#ProgramLogo{
    position: absolute;
    top: 120px;
    left: 5px;
}
#mainpage{
    position: absolute;
    top: -130px;
    left: 630px;
    font-size: 20px
}

#tp01{
    background-color: #209b72f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;
    width: 230px;
    text-align: center;
    
    position: absolute;
    top: 20%;
    left: 14px;
    text-decoration: none;
}
#tp01about{
    color: #1350d3;
    position: absolute;
    top: 21%;
    font-size: 20px;
        left: 15%;
}

#tp03{
    background-color: #209b72f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;
    width: 230px;
    text-align: center;
    
    position: absolute;
    top: 25%;
    left: 14px;
    text-decoration: none;
}
#tp03about{
    color: #1350d3;
    position: absolute;
    top: 26%;
    font-size: 20px;
        left: 15%;
}

#tp04{
    background-color: #209b72f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;
    width: 230px;
    text-align: center;
    
    position: absolute;
    top: 30%;
    left: 14px;
    text-decoration: none;
}
#tp04about{
    color: #1350d3;
    position: absolute;
    top: 31%;
    font-size: 20px;
        left: 15%;
}

#tp05{
    background-color: #209b72f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;
    width: 230px;
    text-align: center;
    
    position: absolute;
    top: 35%;
    left: 14px;
    text-decoration: none;
}
#tp05about{
    color: #1350d3;
    position: absolute;
    top: 36%;
    font-size: 20px;
    left: 15%;
}

#tp06{
    background-color: #209b72f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;
    width: 230px;
    text-align: center;
    
    position: absolute;
    top: 40%;
    left: 14px;
    text-decoration: none;
}
#tp06about{
    color: #1350d3;
    position: absolute;
    top: 41%;
    font-size: 20px;
        left: 15%;
}

#tp07{
    background-color: #209b72f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;
    width: 230px;
    text-align: center;
    
    position: absolute;
    top: 45%;
    left: 14px;
    text-decoration: none;
}
#tp07about{
    color: #1350d3;
    position: absolute;
    top: 46%;
    font-size: 20px;
        left: 15%;
}

#tp08{
    background-color: #209b72f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;
    width: 230px;
    text-align: center;
    
    position: absolute;
    top: 50%;
    left: 14px;
    text-decoration: none;
}
#tp08about{
    color: #1350d3;
    position: absolute;
    top: 51%;
    font-size: 20px;
        left: 15%;
}

#tp09{
    background-color: #209b72f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;
    width: 230px;
    text-align: center;
    
    position: absolute;
    top: 55%;
    left: 14px;
    text-decoration: none;
}
#tp09about{
    color: #1350d3;
    position: absolute;
    top: 56%;
    font-size: 20px;
        left: 15%;
}

#tp10{
    background-color: #209b72f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;
    width: 230px;
    text-align: center;
    
    position: absolute;
    top: 60%;
    left: 14px;
    text-decoration: none;
}
#tp10about{
    color: #1350d3;
    position: absolute;
    top: 61%;
    font-size: 20px;
        left: 15%;
}

#tp11{
    background-color: #209b72f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;
    width: 230px;
    text-align: center;
    
    position: absolute;
    top: 65%;
    left: 14px;
    text-decoration: none;
}
#tp11about{
    color: #1350d3;
    position: absolute;
    top: 66%;
    font-size: 20px;
        left: 15%;
}

#tp12{
    background-color: #209b72f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;
    width: 230px;
    text-align: center;
    
    position: absolute;
    top: 70%;
    left: 14px;
    text-decoration: none;
}
#tp12about{
    color: #1350d3;
    position: absolute;
    top: 71%;
    font-size: 20px;
        left: 15%;
}

#tp13{
    background-color: #209b72f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;
    width: 230px;
    text-align: center;
    
    position: absolute;
    top: 75%;
    left: 14px;
    text-decoration: none;
}
#tp13about{
    color: #1350d3;
    position: absolute;
    top: 76%;
    font-size: 20px;
        left: 15%;
}

#tp14{
    background-color: #209b72f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;
    width: 230px;
    text-align: center;
    
    position: absolute;
    top: 80%;
    left: 14px;
    text-decoration: none;
}
#tp14about{
    color: #1350d3;
    position: absolute;
    top: 81%;
    font-size: 20px;
        left: 15%;
}

#tp15{
    background-color: #209b72f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;
    width: 230px;
    text-align: center;
    
    position: absolute;
    top: 85%;
    left: 14px;
    text-decoration: none;
}
#tp15about{
    color: #1350d3;
    position: absolute;
    top: 86%;
    font-size: 20px;
        left: 15%;
}

#tp16{
    background-color: #209b72f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;
    width: 230px;
    text-align: center;
    
    position: absolute;
    top: 90%;
    left: 14px;
    text-decoration: none;
}
#tp16about{
    color: #1350d3;
    position: absolute;
    top: 91%;
    font-size: 20px;
        left: 15%;
}

#tp17{
    background-color: #209b72f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;
    width: 230px;
    text-align: center;
    
    position: absolute;
    top: 95%;
    left: 14px;
    text-decoration: none;
}
#tp17about{
    color: #1350d3;
    position: absolute;
    top: 96%;
    font-size: 20px;
        left: 15%;
}

#tp18{
    background-color: #209b72f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;
    width: 230px;
    text-align: center;
    
    position: absolute;
    top: 100%;
    left: 14px;
    text-decoration: none;
}
#tp18about{
    color: #1350d3;
    position: absolute;
    top: 101%;
    font-size: 20px;
        left: 15%;
}

#tp19{
    background-color: #209b72f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;
    width: 230px;
    text-align: center;
    
    position: absolute;
    top: 105%;
    left: 14px;
    text-decoration: none;
}
#tp19about{
    color: #1350d3;
    position: absolute;
    top: 106%;
    font-size: 20px;
        left: 15%;
}

#tp20{
    background-color: #209b72f6;
    color: #ffffff;
    padding: 11px;
    margin: 5px;
    opacity: 0.9;
    width: 230px;
    text-align: center;
    
    position: absolute;
    top: 110%;
    left: 14px;
    text-decoration: none;
}
#tp20about{
    color: #1350d3;
    position: absolute;
    top: 111%;
    font-size: 20px;
        left: 15%;
}
